<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card *ngIf="!isLoading">
  <form [formGroup] = "form" (submit) = "SendPost()" >
    <mat-form-field>
      <input 
      matInput
      type="text" 
      formControlName = "title"
      placeholder="Post title" 
     />
      <mat-error *ngIf="form.get('title').invalid">Please enter the title</mat-error>
    </mat-form-field>

    <mat-form-field>
        <textarea  
           matInput 
           rows="10" 
           formControlName="content"
           placeholder="Post Content" 
           ></textarea>
        <mat-error *ngIf="form.get('content').invalid">Please enter the content</mat-error>
    </mat-form-field>

    <br>
  <button mat-stroked-button type="button" (click) = "filePicker.click()"> Pick Image</button>
  <button mat-raised-button  color="accent" type="submit" >Save Post</button>
  <input type="file" (change) = "imagePicked($event)" #filePicker/>
   
   <div class="image__preview" *ngIf="imagePreview !== '' && imagePreview">
       <strong>Selected Image:</strong>
      <img [src]="imagePreview" [alt]="form.value.title">
   </div>
  </form>
</mat-card>

  
  