
mat-card{
    height: auto;
}
mat-form-field {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
}

mat-spinner{
    margin: auto;
}

button{
  margin: 10px;
}

input[type="file"]{
    visibility: hidden;
}

.image__preview{
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 1rem;
    margin: 10px 0;
}

.image__preview > strong {
    margin-right: 10px;
}
.image__preview > img {
    height: 100%;
}